/* ---------------------------------------------------------------------
Media Object
------------------------------------------------------------------------ */

.media { overflow: hidden; }

.media-img {
    float:left;
    margin: 0 10px 0 0;
}

.media-img_inverse { 
	float: right; 
	margin: 0 0 0 10px;
}

.media-hd { }

.media-bd { overflow: hidden; }
.media-bd_wrap { overflow: visible; }

.media-ft { }
.media-cta { }