/* ---------------------------------------------------------------------
 Object: Wrapper
------------------------------------------------------------------------ */
.wrapper {  
    @include micro-clearfix(); 
    width: 998px;
    margin: 0 auto; 
}