<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>CLIENT.Project</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css" />
    <link rel="stylesheet" media="screen, projection" href="assets/styles/legacy.css" />
</head>
<body>

<!-- Masthead -->

<div class="masthead" role="banner">
    <div class="masthead-logo" itemscope itemtype="http://schema.org/Organization">
        <a href="#" itemprop="logo">Logo Here</a>
    </div>

    <div class="masthead-nav">
        <ul class="masthead-nav-list" role="navigation">
            <li><a href="#">Whatevs, ya know?</a></li>
        </ul>
    </div>

    <div class="masthead-search" role="search">
        <form action="#" method="post">
            <ul>
                <li>
                    <label class="masthead-search-label" for="form-search">Search</label>
                    <input class="masthead-search-input" type="search" id="form-search" aria-required="true" />
                </li>
                <li>
                    <input class="masthead-search-btn" type="submit" value="Search" />
                </li>
            </ul>
        </form>
    </div>
</div>

<!-- // End Masthead -->