/* ---------------------------------------------------------------------
 V List
------------------------------------------------------------------------ */

.vList > * {
    display: block;
    margin-bottom: 14px;
}

.hList_tight > * + * { margin-left: 8px; }
.hList_std > * + * { margin-left: 16px; }
.hList_loose > * + * { margin-left: 24px; }

.vList_divided > * + * {
    padding-top: 14px;
    border-top: 1px solid #cccccc;
}